.primaryMenu{
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link{
        color: $secondaryColor;
        text-decoration: none;
        font-family: $primaryFontStack;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.9em;
    }
    &__logo{
        max-width: 95px;
    }
}