.searchForm{
    grid-area: searchForm;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__input{
        border-radius: 5px 0 0 5px;
        border: 1px solid #757575;
        border-right: none;
        background-color: #F5F5F5;
        padding: 0.5em 0.75em;
        &::placeholder{
            color: #707070;
        }
    }
    &__submitButton{
        border-radius: 0 5px 5px 0;
        border: 1px solid #757575;
        border-left: none;
        background-color: #FFF;
        padding: 0.5em 0.75em;
        color: #007ebd;
    }
}