*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 1024px;
    margin: 0 auto;
}
@import "variables";
@import "primary-menu";
@import "search-form";
@import "secondary-menu";
@import "site-header";

@import "main-hero";
@import "video-section";
@import "meet-team";
@import "movies";
@import "site-footer";
